.create-form {
	legend small {
		margin-left: 10px;
		font-size: 66%;
		color: rgba(0,0,0,0.6);
	}
	label {
		display: none;
	}
	label[for="city"]{
		display: block;
	}
	.map-create {
		width: 100%;
		height: 250px;
	}

	input[required]::-webkit-input-placeholder {
		font-weight: bold;
		color: rgba(255, 0, 0, 0.74);
	}
	input[required]::-moz-placeholder {
		font-weight: bold;
		color: rgba(255, 0, 0, 0.74);
	}
	input[required]:-moz-placeholder {   /* Older versions of Firefox */
		font-weight: bold;
		color: rgba(255, 0, 0, 0.74);
	}
	input[required]:-ms-input-placeholder {
		font-weight: bold;
		color: rgba(255, 0, 0, 0.74);
	}
}