$listWidth: 400px;
$imgWidth: 80px;
$listPadding: 10;
$scrollWidth: 17;
$activeColor: #666666;
$disabledColor: #C5C5C5;
$searchHeight: 40px;

.map {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
}

.status {
	position: absolute;
	left: 420px;
	top: 20px;
	z-index: 100;
	min-width: 25%;
	text-align: center;
}

.hamburger {
	left: 22px;
	top: 26px;
}
.arrow {
	left: 18px;
	top: 28px;
    @include transform(translateX(200px));
}

.dropdown-menu {
	 box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.dropdown-menu .active {
	display: none;
}


.panel-search {
	overflow: hidden;
	position: absolute;
	z-index: 2;
	top: 14px;
	left: 10px;
	width: $listWidth;
	height: $searchHeight;

	form {
		position: relative;
	}

	#search {
		box-shadow: none;
		padding-left: 10px;
		border-left: 1px solid #dddddd;
		height: $searchHeight;
	}

	.form-group {
	    display: inline-block;
	    margin-bottom: 0;
	    vertical-align: middle;
	}
	.form-group span {
	    color: rgba(0,0,0,0.54);
	    cursor: pointer;
	}
	.input-group {
		width: 100%;
		height: $searchHeight;
		padding: 0 80px 0 46px;
	}
	.search-group {
		position: absolute;
		top: 0;
		right: 0;
		padding: 9px;
	}
	.search-group.with-remove {
		right: 33px;
	}
	.remove-group {
		border-left: 1px solid #dddddd;
		padding: 9px;
		position: absolute;
		top: 0;
		right: 0;
	}
	.loading-group {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 999;
		padding: 5px;
	}
}

.panel-list-wrapper {
	position: absolute;
	left: 10px;
	top: 64px;
	width: $listWidth;
	z-index: 2;
	display: none;
	margin-bottom: 0;
	font-size: 13px;
}

.panel-list {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;

	.panel-heading {
		border-bottom: 1px solid #ddd;
		padding: 10px 5px;

		a {
			color: rgba(0, 0, 0, 0.54);
			margin: 0 5px;
		}
	}

	.panel-body {
		padding: 0;
		overflow-y: auto;
	}

	.panel-footer {
		background: #fff;
		border-top: 1px solid #ddd;
		text-align: right;

		span {
			margin: 0 5px;
		}
		.prev, .next {
			cursor: pointer;
		}
		.prev.disabled, .next.disabled {
			color: $disabledColor;
			cursor: auto;
		}
		.list-collapse {
			color: $activeColor;
		}

	}

	.dropdown {
		cursor: pointer;
		display: inline-block;
	}

	p {
		clear: left;
		margin-top: 8px;
	}

	hr {
		margin: 0;
	}

	.name a {
		color: rgba(0,0,0,0.84);
	}

	img {
		width: 100%;
	}

	.item-body {
		font-family: Roboto, Arial, sans-serif;
		padding: $listPadding + px;
		& > div {
			display: inline-block;
		}
		.item-left {
			width: $listWidth - $scrollWidth - (2 * $listPadding) - $imgWidth;
			vertical-align: top;
			& > span {
				font-size: 16px;
			}
		}
		.item-right {
			width: $imgWidth;
			vertical-align: top;
		}
		.address {
			color: #888;
			font-size: 12px;
		}
	}
}

.list-collapse span {
	cursor: pointer;
}

.panel-list-wrapper.list-closed .pages {
	display: none;
}
.toggle-text {
	display: none;
	cursor: pointer;
}

.info .name {
	font-size: 18px;
}

.clear-filters {
	display: none;
}

@media (max-width: 600px) {
	.map {
		top: 40px;
		bottom: 50%;
	}
	.map.expanded {
		bottom: 45px;
	}
	.panel-list-wrapper {
	    left: 0;
	    bottom: 0;
	    top: 50%;
	    width: 100%;
  	}
	.panel-body {
		display: block !important;
		height: auto;
		max-height: none;
		position: absolute;
		top: 44px;
		bottom: 44px;
		left: 0;
		width: 100%;
	}
	.panel-footer {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
	}
	.panel-list {
		height: 100%;
	}
	.list {
		height: 100%;
	}
	.item {
		position: relative;
	}
	.item-body {
		min-height: 100px;
	}
	.item-left {
		width: calc(100% - 100px);
	}
	.item-right {
		position: absolute;
		right: 10px;
		top: 10px;
	}
	.list-collapse .glyphicon {
		display: none;
	}
	.panel-list-wrapper.list-open .list-collapse {
		display: none;
	}
	.panel-list-wrapper.list-closed .toggle-text {
		display: block;
	}
	.panel-list-wrapper.list-closed {
		height: 45px;
		top: auto;
	}
	.panel-search {
		width: 100%;
		top:0;
		left:0;
	}
	.hamburger {
		left: 11px;
		top: 11px;
	}
	.input-group {
		width: 80%;
	}
	.status {
		left: 10px;
		right: 10px;
		top: 75px;
	}
}