/*@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans|Roboto);
/*@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);*/
@import url(/css/paper.bootstrap.min.css);
html, body {
  height: 100%;
  min-width: 445px; }

body {
  font-family: 'Open Sans', sans-serif;
  background: #f8f8f8; }

h1, h3 {
  /*margin-bottom: 20px;*/ }

body > .container {
  /*background: white;*/
  padding-top: 20px;
  padding-bottom: 20px;
  /*	border-left: 1px solid #E7E7E7;
	border-right: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;*/ }

.navbar {
  margin-bottom: 0; }

.load-status {
  text-align: center; }

.map-small {
  height: 250px;
  margin-bottom: 10px; }

#map-canvas {
  width: 100%;
  height: 100%; }

.filters ul {
  list-style-type: none;
  float: left; }

.filters li {
  margin: 5px; }

.filters label {
  float: left; }

.filters .checkbox {
  clear: both; }

.panel-login {
  margin-top: 50px;
  border-color: #ccc;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2); }
  .panel-login .panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align: center; }
    .panel-login .panel-heading a {
      text-decoration: none;
      color: #666;
      font-weight: bold;
      font-size: 15px;
      transition: all 0.1s linear; }
      .panel-login .panel-heading a.active {
        color: #029f5b;
        font-size: 18px; }
    .panel-login .panel-heading hr {
      margin-top: 10px;
      margin-bottom: 0px;
      clear: both;
      border: 0;
      height: 1px;
      background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, 0.15), transparent); }

.panel-login input[type="text"], .panel-login input[type="email"], .panel-login input[type="password"] {
  padding: 6px 12px !important;
  height: 45px;
  border: 1px solid #ddd;
  font-size: 16px;
  transition: all 0.1s linear; }
  .panel-login input[type="text"]:hover, .panel-login input[type="text"]:focus, .panel-login input[type="email"]:hover, .panel-login input[type="email"]:focus, .panel-login input[type="password"]:hover, .panel-login input[type="password"]:focus {
    outline: none;
    box-shadow: none;
    border-color: #ccc; }

.btn-login {
  padding: 6px 12px !important;
  background-color: #59B2E0;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #59B2E6; }
  .btn-login:hover, .btn-login:focus {
    color: #fff;
    background-color: #53A3CD;
    border-color: #53A3CD; }

.forgot-password {
  text-decoration: underline;
  color: #888; }
  .forgot-password:hover, .forgot-password:focus {
    text-decoration: underline;
    color: #666; }

.btn-register {
  background-color: #1CB94E;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #1CB94A; }
  .btn-register:hover, .btn-register:focus {
    color: #fff;
    background-color: #1CA347;
    border-color: #1CA347; }

/** rating */
.rate_widget {
  overflow: visible;
  padding: 10px;
  position: relative; }

.ratings_stars {
  background: url("/img/star_empty.png") no-repeat;
  float: left;
  padding: 2px; }

.ratings_vote {
  background: url("/img/star_full.png") no-repeat; }

.ratings_over {
  cursor: pointer;
  background: url("/img/star_full.png") no-repeat; }

.total_votes {
  margin-left: 6px;
  float: left; }

.rating {
  color: #999;
  display: inline-block; }

.rating.small {
  margin-bottom: 5px;
  font-size: 12px; }

.rating.small .rate_widget {
  padding: 0; }

/** hamburger-toggle */
.hamburger, .arrow {
  position: absolute;
  width: 24px;
  height: 24px;
  z-index: 20;
  cursor: pointer; }

.arrow {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg); }

.hamburger span, .hamburger, .arrow span, .arrow {
  transition: all 0.5s ease; }

.hamburger span {
  background-color: #B7B7B7; }

.arrow span {
  background-color: #6B6B6B; }

.hamburger span, .arrow span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 3px;
  -webkit-transform: translate3d(0, 7px, 0);
  transform: translate3d(0, 7px, 0); }

.hamburger .second {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.hamburger .third {
  -webkit-transform: translate3d(0, 14px, 0);
  transform: translate3d(0, 14px, 0); }

.arrow .second,
.arrow .third {
  -webkit-transform: rotate(45deg) translateY(10px) translateX(8px);
  transform: rotate(45deg) translateY(10px) translateX(8px);
  width: 15px; }

.arrow .second {
  -webkit-transform: rotate(-45deg) translateX(-2px) translateY(0px);
  transform: rotate(-45deg) translateX(-2px) translateY(0px); }

/** photos  **/
.add-photo-wrapper {
  height: 44px;
  line-height: 44px;
  margin: 20px 0; }

.pictures img {
  max-width: 100%;
  cursor: pointer; }

.map {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1; }

.hamburger {
  left: 22px;
  top: 26px; }

.arrow {
  left: 18px;
  top: 28px;
  -webkit-transform: translateX(200px);
  transform: translateX(200px);
  /*transition-property: transform, transform;*/
  /*transition-delay: 3s, ss;*/ }

.dropdown-menu {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.dropdown-menu .active a {
  background: #FFF;
  font-weight: bold; }

.panel-search {
  overflow: hidden;
  position: absolute;
  z-index: 2;
  top: 14px;
  left: 10px;
  width: 350px;
  height: 41px;
  padding: 4px 10px;
  /*	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
*/ }
  .panel-search #search {
    width: 235px;
    margin-left: 40px;
    margin-right: 10px; }
  .panel-search .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle; }
  .panel-search .form-group a {
    color: rgba(0, 0, 0, 0.54); }
  .panel-search .right-group {
    float: right;
    margin-top: 6px; }
  .panel-search .search-group {
    padding-right: 5px; }
  .panel-search .remove-group {
    border-left: 1px solid #dddddd;
    padding-left: 5px; }

.panel-list-wrapper {
  position: absolute;
  left: 10px;
  top: 64px;
  width: 350px;
  bottom: 10px;
  z-index: 2; }

.panel-list {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }
  .panel-list .panel-heading {
    border-bottom: 1px solid #ddd; }
    .panel-list .panel-heading a {
      color: rgba(0, 0, 0, 0.54);
      margin: 0 10px; }
  .panel-list .panel-body {
    padding: 0;
    overflow-y: auto;
    position: absolute;
    top: 44px;
    left: 0;
    width: 100%;
    bottom: 0; }
  .panel-list .dropdown {
    cursor: pointer;
    display: inline-block; }
  .panel-list p {
    clear: left;
    margin-top: 8px; }
  .panel-list hr {
    margin: 0; }
  .panel-list .name a {
    color: rgba(0, 0, 0, 0.84); }
  .panel-list img {
    width: 100%; }
  .panel-list .item-body {
    font-family: Roboto, Arial, sans-serif;
    padding: 10px; }
    .panel-list .item-body > div {
      display: inline-block; }
    .panel-list .item-body .item-left {
      width: 70%;
      vertical-align: top; }
      .panel-list .item-body .item-left > span {
        font-size: 16px; }
    .panel-list .item-body .item-right {
      width: 30%;
      vertical-align: top; }
  .panel-list .ratings_vote, .panel-list .ratings_stars {
    width: 14px;
    height: 14px;
    background-size: 14px 14px; }
  .panel-list .total_votes {
    line-height: 14px; }

.address {
  color: #888;
  font-size: 12px; }

.panel-tags-wrapper {
  /*	position: absolute;
	top: 30px;
	left: 215px;
	width: 0;
	height: 0;
	z-index: 5;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;*/ }
  .panel-tags-wrapper .panel-tags {
    /*display: none;*/ }
  .panel-tags-wrapper.open {
    width: 500px;
    height: 350px; }

/*@import 'show';*/
.sidebar {
  display: table-cell;
  vertical-align: top; }

.sidebar-overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: #000;
  z-index: 10;
  transition: visibility 0 linear 0.4s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }

.sidebar-overlay.active {
  opacity: 0.5;
  visibility: visible;
  transition-delay: 0; }

.sidebar {
  position: relative;
  display: block;
  min-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  border: none;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  /*@include clearfix();*/ }
  .sidebar::-webkit-scrollbar-track {
    border-radius: 2px; }
  .sidebar::-webkit-scrollbar {
    width: 5px;
    background-color: #F7F7F7; }
  .sidebar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #BFBFBF; }

/*** Sidebar Elements **/
.sidebar {
  /** Sidebar toggle **/
  /** Brand/project image
  //
  // In google guideline used for user profile image*/
  /** Brand/project name
  // In google guideline used for email dropdown */
  /** Sidebar badge
  //----------------*/
  /** Sidebar divider
  //----------------*/
  /** Sidebar text
  //----------------*/
  /** Sidebar icons
  //----------------*/ }
  .sidebar .sidebar-header {
    position: relative;
    height: 157.5px;
    /* 16:9 header dimension */
    margin-bottom: 8px;
    transition: all 0.2s ease-in-out;
    /*  Brand cover */ }
    .sidebar .sidebar-header.header-cover {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover; }
    .sidebar .sidebar-header:hover .sidebar-toggle {
      opacity: 1; }
  .sidebar .sidebar-toggle {
    position: relative;
    float: right;
    margin: 16px;
    padding: 0;
    background-image: none;
    /* Reset unusual Firefox-on-Android default style;*/
    border: none;
    height: 40px;
    width: 40px;
    font-size: 20px;
    opacity: 0.7;
    transition: all 0.2s ease-in-out;
    /*@include clearfix();*/ }
  .sidebar .sidebar-image img {
    width: 54px;
    height: 54px;
    margin: 16px;
    border-radius: 50%;
    transition: all 0.2s ease-in-out; }
  .sidebar .sidebar-brand {
    position: absolute;
    top: 16px;
    left: 0;
    right: 56px;
    display: block;
    height: 48px;
    line-height: 48px;
    padding: 0;
    padding-left: 16px;
    padding-right: 56px;
    text-decoration: none;
    clear: both;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all 0.2s ease-in-out;
    /*// positioning caret in sidebar block*/ }
    .sidebar .sidebar-brand:hover, .sidebar .sidebar-brand:focus {
      box-shadow: none;
      outline: none; }
    .sidebar .sidebar-brand .caret {
      position: absolute;
      right: 24px;
      top: 24px; }
    .sidebar .sidebar-brand .sidebar-badge {
      position: absolute;
      right: 16px;
      top: 12px; }
    .sidebar .sidebar-brand:hover,
    .sidebar .sidebar-brand:focus {
      text-decoration: none; }
  .sidebar .sidebar-badge {
    display: inline-block;
    min-width: 24px;
    height: 24px;
    line-height: 24px;
    padding: 0 3px;
    font-size: 10px;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline; }
    .sidebar .sidebar-badge.badge-circle {
      border-radius: 50%; }
  .sidebar .sidebar-divider, .sidebar .sidebar-nav .divider {
    position: relative;
    display: block;
    height: 1px;
    margin: 8px 0;
    padding: 0;
    overflow: hidden; }
  .sidebar .sidebar-footer {
    display: block;
    height: 48px;
    line-height: 48px;
    padding: 0;
    padding-left: 16px;
    padding-right: 56px;
    text-decoration: none;
    clear: both;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all 0.2s ease-in-out;
    /*// positioning caret in sidebar block*/
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #CCC;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 11px; }
    .sidebar .sidebar-footer:hover, .sidebar .sidebar-footer:focus {
      box-shadow: none;
      outline: none; }
    .sidebar .sidebar-footer .caret {
      position: absolute;
      right: 24px;
      top: 24px; }
    .sidebar .sidebar-footer .sidebar-badge {
      position: absolute;
      right: 16px;
      top: 12px; }
  .sidebar .sidebar-icon {
    display: inline-block;
    margin-right: 16px;
    min-width: 40px;
    width: 40px;
    text-align: left;
    font-size: 20px; }
    .sidebar .sidebar-icon:before, .sidebar .sidebar-icon:after {
      vertical-align: middle; }

.sidebar .sidebar-nav {
  margin: 0;
  padding: 0;
  /** Links
  //----------------*/
  /** Dropdown menu
  //----------------*/ }
  .sidebar .sidebar-nav li {
    position: relative;
    list-style-type: none; }
    .sidebar .sidebar-nav li a {
      position: relative;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      display: block;
      height: 48px;
      line-height: 48px;
      padding: 0;
      padding-left: 16px;
      padding-right: 56px;
      text-decoration: none;
      clear: both;
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      transition: all 0.2s ease-in-out;
      /*// positioning caret in sidebar block*/ }
      .sidebar .sidebar-nav li a:hover, .sidebar .sidebar-nav li a:focus {
        box-shadow: none;
        outline: none; }
      .sidebar .sidebar-nav li a .caret {
        position: absolute;
        right: 24px;
        top: 24px; }
      .sidebar .sidebar-nav li a .sidebar-badge {
        position: absolute;
        right: 16px;
        top: 12px; }
      .sidebar .sidebar-nav li a:hover {
        background: transparent; }
  .sidebar .sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    box-shadow: none; }

.sidebar {
  background-color: #fff; }
  .sidebar .sidebar-header {
    background-color: #eceff1; }
  .sidebar .sidebar-toggle {
    color: rgba(0, 0, 0, 0.87);
    background-color: transparent; }
  .sidebar .sidebar-brand {
    color: rgba(0, 0, 0, 0.87);
    background-color: transparent;
    /*    &:hover,
    &:focus {
      color: $brand-hover-color;
      background-color: $brand-hover-bg;
    }*/ }
  .sidebar .sidebar-badge {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.54); }
  .sidebar .sidebar-divider, .sidebar .sidebar-nav .divider {
    background-color: rgba(0, 0, 0, 0.54); }
  .sidebar .sidebar-text {
    color: rgba(0, 0, 0, 0.87); }
  .sidebar .sidebar-nav li > a {
    color: rgba(0, 0, 0, 0.87);
    background-color: transparent; }
    .sidebar .sidebar-nav li > a i {
      color: rgba(0, 0, 0, 0.87); }
  .sidebar .sidebar-nav li:hover > a, .sidebar .sidebar-nav li > a:hover {
    color: rgba(0, 0, 0, 0.87);
    background-color: rgba(0, 0, 0, 0.35); }
    .sidebar .sidebar-nav li:hover > a i, .sidebar .sidebar-nav li > a:hover i {
      color: rgba(0, 0, 0, 0.87); }
  .sidebar .sidebar-nav li:focus > a, .sidebar .sidebar-nav li > a:focus {
    color: rgba(0, 0, 0, 0.87);
    background-color: transparent; }
    .sidebar .sidebar-nav li:focus > a i, .sidebar .sidebar-nav li > a:focus i {
      color: rgba(0, 0, 0, 0.87); }
  .sidebar .sidebar-nav > .open > a,
  .sidebar .sidebar-nav > .open > a:hover,
  .sidebar .sidebar-nav > .open > a:focus {
    color: rgba(0, 0, 0, 0.87);
    background-color: rgba(0, 0, 0, 0.35); }
  .sidebar .sidebar-nav > .active > a,
  .sidebar .sidebar-nav > .active > a:hover,
  .sidebar .sidebar-nav > .active > a:focus {
    color: rgba(0, 0, 0, 0.87);
    background-color: rgba(0, 0, 0, 0.35); }
  .sidebar .sidebar-nav > .disabled > a,
  .sidebar .sidebar-nav > .disabled > a:hover,
  .sidebar .sidebar-nav > .disabled > a:focus {
    color: rgba(0, 0, 0, 0.35);
    background-color: transparent; }
  .sidebar .sidebar-nav > .dropdown > .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.35); }
    .sidebar .sidebar-nav > .dropdown > .dropdown-menu > li > a:focus {
      background-color: rgba(0, 0, 0, 0.35);
      color: rgba(0, 0, 0, 0.87); }
    .sidebar .sidebar-nav > .dropdown > .dropdown-menu > li > a:hover {
      background-color: rgba(0, 0, 0, 0.35);
      color: rgba(0, 0, 0, 0.87); }
    .sidebar .sidebar-nav > .dropdown > .dropdown-menu > .active > a,
    .sidebar .sidebar-nav > .dropdown > .dropdown-menu > .active > a:hover,
    .sidebar .sidebar-nav > .dropdown > .dropdown-menu > .active > a:focus {
      color: rgba(0, 0, 0, 0.87);
      background-color: rgba(0, 0, 0, 0.35); }

.sidebar {
  width: 0;
  -webkit-transform: translate3d(-280px, 0, 0);
  transform: translate3d(-280px, 0, 0); }
  .sidebar.open {
    min-width: 280px;
    width: 280px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

.sidebar-fixed-left {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 10;
  left: 0;
  box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.35); }

/*@media (max-width: $screen-tablet) {
  .sidebar.open {
    min-width: $sidebar-width;
    width: $sidebar-width;
  }

  .sidebar .sidebar-header {
    height: $sidebar-width * 9/16; // 16:9 header dimension
  }

  .sidebar .sidebar-image {
    img {
      width: $sidebar-width/4 - $sidebar-padding;
      height: $sidebar-width/4 - $sidebar-padding;
    }
  }
}*/

/*# sourceMappingURL=app.css.map */