.add-photo-wrapper {
	height: 44px;
	line-height: 44px;
	margin: 20px 0;
}
.pictures img {
	max-width: 100%;
	cursor: pointer;
}
#tab-web-address form {
	margin-top: 40px;
}
#submit-web-address {
	position: absolute;
	right: 100px;
	bottom: -51px;
}
#add-photo-modal .status {
	position: static;
}