

.panel-login {
	margin-top: 50px;
	border-color: #ccc;
	@include box-shadow(0px 2px 3px 0px rgba(0,0,0,0.2));

	.panel-heading {
		color: #00415d;
		background-color: #fff;
		border-color: #fff;
		text-align:center;

		a {
			text-decoration: none;
			color: #666;
			font-weight: bold;
			font-size: 15px;
			@include transition(all 0.1s linear);

			&.active {
				color: #029f5b;
				font-size: 18px;
			}
		}

		hr {
			margin-top: 10px;
			margin-bottom: 0px;
			clear: both;
			border: 0;
			height: 1px;

			background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
			background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
			background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
			background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
		}
	}
}

.panel-login input[type="text"], .panel-login input[type="email"], .panel-login input[type="password"] {
	padding: 6px 12px !important;
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	@include transition(all 0.1s linear);
	&:hover, &:focus {
		outline:none;
		@include box-shadow(none);
		border-color: #ccc;
	}
}

.btn-login {
	padding: 6px 12px !important;
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
	&:hover, &:focus {
		color: #fff;
		background-color: #53A3CD;
		border-color: #53A3CD;
	}
}
.forgot-password {
	text-decoration: underline;
	color: #888;
	&:hover, &:focus {
		text-decoration: underline;
		color: #666;
	}
}

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
	&:hover, &:focus {
		color: #fff;
		background-color: #1CA347;
		border-color: #1CA347;;
	}
}