
$line-width: 3px;
$ham-width: 24px;
$ham-height: 24px;

.hamburger, .arrow {
	position: absolute;
	width: $ham-width;
	height: $ham-height;
	z-index: 20;
    cursor: pointer;
}
.arrow {
	@include transform(rotate(-180deg));
}

.hamburger span, .hamburger, .arrow span, .arrow {
	transition: all .5s ease;
}
.hamburger span {
	background-color: #B7B7B7;
}
.arrow span {
	background-color: #6B6B6B;
}
.hamburger span, .arrow span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: $ham-width;
    height: $line-width;
    @include translate3d(0,7px,0);
}
.hamburger .second {
	@include translate3d(0,0,0);
}
.hamburger .third {
	@include translate3d(0,14px,0);
}

.arrow .second,
.arrow .third {
	@include transform(rotate(45deg) translateY(10px) translateX(8px));
    width: 15px;
}

.arrow .second {
    @include transform(rotate(-45deg) translateX(-2px) translateY(0px));
}