.rate_widget {
    overflow:   visible;
    position:   relative;
}
.ratings_stars {
    background: url('/img/star_empty.png') no-repeat;
    float:      left;
    padding:    2px;
}
.ratings_vote {
    background: url('/img/star_full.png') no-repeat;
}
.ratings_over {
	cursor: pointer;
    background: url('/img/star_full.png') no-repeat;
}
.total_votes {
    margin-left: 6px;
    float: left;
}
.rating {
	font-size: 14px;
    color: #999;
    display: inline-block;

    .ratings_vote, .ratings_stars {
    	width: 20px;
    	height: 20px;
    	background-size: 20px 20px;
    }

}

.rating.small {
	margin-bottom: 5px;
	font-size: 12px;
	display: block;

	.ratings_vote, .ratings_stars {
		width: 14px;
		height: 14px;
		background-size: 14px 14px;
	}
	.total_votes {
		line-height: 14px;
	}
}