/*@import 'normalize';*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans|Roboto);
@import url(https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.0/sweetalert.min.css);
@import url(/css/paper.bootstrap.min.css);
html, body {
  height: 100%; }

body {
  font-family: 'Open Sans', sans-serif;
  background: #f8f8f8; }

body > .container {
  padding-top: 20px;
  padding-bottom: 20px; }

.filters ul {
  list-style-type: none;
  float: left; }

.filters li {
  margin: 5px; }

.filters label {
  float: left; }

.filters .checkbox {
  clear: both; }

.panel-login {
  margin-top: 50px;
  border-color: #ccc;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2); }
  .panel-login .panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align: center; }
    .panel-login .panel-heading a {
      text-decoration: none;
      color: #666;
      font-weight: bold;
      font-size: 15px;
      transition: all 0.1s linear; }
      .panel-login .panel-heading a.active {
        color: #029f5b;
        font-size: 18px; }
    .panel-login .panel-heading hr {
      margin-top: 10px;
      margin-bottom: 0px;
      clear: both;
      border: 0;
      height: 1px;
      background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, 0.15), transparent); }

.panel-login input[type="text"], .panel-login input[type="email"], .panel-login input[type="password"] {
  padding: 6px 12px !important;
  height: 45px;
  border: 1px solid #ddd;
  font-size: 16px;
  transition: all 0.1s linear; }
  .panel-login input[type="text"]:hover, .panel-login input[type="text"]:focus, .panel-login input[type="email"]:hover, .panel-login input[type="email"]:focus, .panel-login input[type="password"]:hover, .panel-login input[type="password"]:focus {
    outline: none;
    box-shadow: none;
    border-color: #ccc; }

.btn-login {
  padding: 6px 12px !important;
  background-color: #59B2E0;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #59B2E6; }
  .btn-login:hover, .btn-login:focus {
    color: #fff;
    background-color: #53A3CD;
    border-color: #53A3CD; }

.forgot-password {
  text-decoration: underline;
  color: #888; }
  .forgot-password:hover, .forgot-password:focus {
    text-decoration: underline;
    color: #666; }

.btn-register {
  background-color: #1CB94E;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #1CB94A; }
  .btn-register:hover, .btn-register:focus {
    color: #fff;
    background-color: #1CA347;
    border-color: #1CA347; }

.rate_widget {
  overflow: visible;
  position: relative; }

.ratings_stars {
  background: url("/img/star_empty.png") no-repeat;
  float: left;
  padding: 2px; }

.ratings_vote {
  background: url("/img/star_full.png") no-repeat; }

.ratings_over {
  cursor: pointer;
  background: url("/img/star_full.png") no-repeat; }

.total_votes {
  margin-left: 6px;
  float: left; }

.rating {
  font-size: 14px;
  color: #999;
  display: inline-block; }
  .rating .ratings_vote, .rating .ratings_stars {
    width: 20px;
    height: 20px;
    background-size: 20px 20px; }

.rating.small {
  margin-bottom: 5px;
  font-size: 12px;
  display: block; }
  .rating.small .ratings_vote, .rating.small .ratings_stars {
    width: 14px;
    height: 14px;
    background-size: 14px 14px; }
  .rating.small .total_votes {
    line-height: 14px; }

.hamburger, .arrow {
  position: absolute;
  width: 24px;
  height: 24px;
  z-index: 20;
  cursor: pointer; }

.arrow {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg); }

.hamburger span, .hamburger, .arrow span, .arrow {
  transition: all 0.5s ease; }

.hamburger span {
  background-color: #B7B7B7; }

.arrow span {
  background-color: #6B6B6B; }

.hamburger span, .arrow span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 3px;
  -webkit-transform: translate3d(0, 7px, 0);
  transform: translate3d(0, 7px, 0); }

.hamburger .second {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.hamburger .third {
  -webkit-transform: translate3d(0, 14px, 0);
  transform: translate3d(0, 14px, 0); }

.arrow .second,
.arrow .third {
  -webkit-transform: rotate(45deg) translateY(10px) translateX(8px);
  transform: rotate(45deg) translateY(10px) translateX(8px);
  width: 15px; }

.arrow .second {
  -webkit-transform: rotate(-45deg) translateX(-2px) translateY(0px);
  transform: rotate(-45deg) translateX(-2px) translateY(0px); }

.sidebar {
  display: table-cell;
  vertical-align: top;
  font-size: 13px; }

.sidebar-overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: #000;
  z-index: 10;
  transition: visibility 0 linear 0.4s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }

.sidebar-overlay.active {
  opacity: 0.5;
  visibility: visible;
  transition-delay: 0; }

.sidebar {
  position: relative;
  display: block;
  min-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  border: none;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  /*@include clearfix();*/ }
  .sidebar::-webkit-scrollbar-track {
    border-radius: 2px; }
  .sidebar::-webkit-scrollbar {
    width: 5px;
    background-color: #F7F7F7; }
  .sidebar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #BFBFBF; }

/*** Sidebar Elements **/
.sidebar {
  /** Sidebar toggle **/
  /** Brand/project image
  //
  // In google guideline used for user profile image*/
  /** Brand/project name
  // In google guideline used for email dropdown */
  /** Sidebar badge
  //----------------*/
  /** Sidebar divider
  //----------------*/
  /** Sidebar text
  //----------------*/
  /** Sidebar icons
  //----------------*/ }
  .sidebar .sidebar-header {
    position: relative;
    height: 157.5px;
    /* 16:9 header dimension */
    margin-bottom: 8px;
    transition: all 0.2s ease-in-out;
    /*  Brand cover */ }
    .sidebar .sidebar-header.header-cover {
      /*background-image: url(http://2.bp.blogspot.com/-2RewSLZUzRg/U-9o6SD4M6I/AAAAAAAADIE/voax99AbRx0/s1600/14%2B-%2B1%2B%281%29.jpg);*/
      background-image: url(/img/404.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover; }
    .sidebar .sidebar-header:hover .sidebar-toggle {
      opacity: 1; }
  .sidebar .sidebar-toggle {
    position: relative;
    float: right;
    margin: 16px;
    padding: 0;
    background-image: none;
    /* Reset unusual Firefox-on-Android default style;*/
    border: none;
    height: 40px;
    width: 40px;
    font-size: 20px;
    opacity: 0.7;
    transition: all 0.2s ease-in-out;
    /*@include clearfix();*/ }
  .sidebar .sidebar-image img {
    width: 54px;
    height: 54px;
    margin: 16px;
    border-radius: 50%;
    transition: all 0.2s ease-in-out; }
  .sidebar .sidebar-brand {
    position: absolute;
    top: 12px;
    font-size: 20px;
    left: 0;
    right: 56px;
    display: block;
    height: 48px;
    line-height: 48px;
    padding: 0;
    padding-left: 16px;
    padding-right: 56px;
    text-decoration: none;
    clear: both;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all 0.2s ease-in-out;
    /*// positioning caret in sidebar block*/ }
    .sidebar .sidebar-brand:hover, .sidebar .sidebar-brand:focus {
      box-shadow: none;
      outline: none; }
    .sidebar .sidebar-brand .caret {
      position: absolute;
      right: 24px;
      top: 24px; }
    .sidebar .sidebar-brand .sidebar-badge {
      position: absolute;
      right: 16px;
      top: 12px; }
    .sidebar .sidebar-brand:hover,
    .sidebar .sidebar-brand:focus {
      text-decoration: none; }
  .sidebar .sidebar-user-link {
    position: absolute;
    left: 16px;
    bottom: 16px; }
  .sidebar .sidebar-badge {
    display: inline-block;
    min-width: 24px;
    height: 24px;
    line-height: 24px;
    padding: 0 3px;
    font-size: 10px;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline; }
    .sidebar .sidebar-badge.badge-circle {
      border-radius: 50%; }
  .sidebar .sidebar-divider, .sidebar .sidebar-nav .divider {
    position: relative;
    display: block;
    height: 1px;
    margin: 8px 0;
    padding: 0;
    overflow: hidden; }
  .sidebar .sidebar-footer {
    display: block;
    height: 48px;
    line-height: 48px;
    padding: 0;
    padding-left: 16px;
    padding-right: 56px;
    text-decoration: none;
    clear: both;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all 0.2s ease-in-out;
    /*// positioning caret in sidebar block*/
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #CCC;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 11px; }
    .sidebar .sidebar-footer:hover, .sidebar .sidebar-footer:focus {
      box-shadow: none;
      outline: none; }
    .sidebar .sidebar-footer .caret {
      position: absolute;
      right: 24px;
      top: 24px; }
    .sidebar .sidebar-footer .sidebar-badge {
      position: absolute;
      right: 16px;
      top: 12px; }
  .sidebar .sidebar-icon {
    display: inline-block;
    margin-right: 16px;
    min-width: 40px;
    width: 40px;
    text-align: left;
    font-size: 20px; }
    .sidebar .sidebar-icon:before, .sidebar .sidebar-icon:after {
      vertical-align: middle; }

.sidebar .sidebar-nav {
  margin: 0;
  padding: 0;
  /** Links
  //----------------*/
  /** Dropdown menu
  //----------------*/ }
  .sidebar .sidebar-nav li {
    position: relative;
    list-style-type: none; }
    .sidebar .sidebar-nav li a {
      position: relative;
      cursor: pointer;
      display: block;
      height: 48px;
      line-height: 48px;
      padding: 0;
      padding-left: 16px;
      padding-right: 56px;
      text-decoration: none;
      clear: both;
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      transition: all 0.2s ease-in-out;
      /*// positioning caret in sidebar block*/ }
      .sidebar .sidebar-nav li a:hover, .sidebar .sidebar-nav li a:focus {
        box-shadow: none;
        outline: none; }
      .sidebar .sidebar-nav li a .caret {
        position: absolute;
        right: 24px;
        top: 24px; }
      .sidebar .sidebar-nav li a .sidebar-badge {
        position: absolute;
        right: 16px;
        top: 12px; }
      .sidebar .sidebar-nav li a:hover {
        background: transparent; }
  .sidebar .sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    box-shadow: none; }

.sidebar {
  background-color: #fff; }
  .sidebar .sidebar-header {
    background-color: #eceff1; }
  .sidebar .sidebar-toggle {
    color: rgba(0, 0, 0, 0.87);
    background-color: transparent; }
  .sidebar .sidebar-brand, .sidebar .sidebar-user-link {
    color: rgba(0, 0, 0, 0.87);
    background-color: transparent; }
  .sidebar .sidebar-badge {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.54); }
  .sidebar .sidebar-divider, .sidebar .sidebar-nav .divider {
    background-color: rgba(0, 0, 0, 0.54); }
  .sidebar .sidebar-text {
    color: rgba(0, 0, 0, 0.87); }
  .sidebar .sidebar-nav li > a {
    color: rgba(0, 0, 0, 0.87);
    background-color: transparent; }
    .sidebar .sidebar-nav li > a i {
      color: rgba(0, 0, 0, 0.87); }
  .sidebar .sidebar-nav li:hover > a, .sidebar .sidebar-nav li > a:hover {
    color: rgba(0, 0, 0, 0.87);
    background-color: rgba(0, 0, 0, 0.35); }
    .sidebar .sidebar-nav li:hover > a i, .sidebar .sidebar-nav li > a:hover i {
      color: rgba(0, 0, 0, 0.87); }
  .sidebar .sidebar-nav li:focus > a, .sidebar .sidebar-nav li > a:focus {
    color: rgba(0, 0, 0, 0.87);
    background-color: transparent; }
    .sidebar .sidebar-nav li:focus > a i, .sidebar .sidebar-nav li > a:focus i {
      color: rgba(0, 0, 0, 0.87); }
  .sidebar .sidebar-nav > .open > a,
  .sidebar .sidebar-nav > .open > a:hover,
  .sidebar .sidebar-nav > .open > a:focus {
    color: rgba(0, 0, 0, 0.87);
    background-color: rgba(0, 0, 0, 0.35); }
  .sidebar .sidebar-nav > .active > a,
  .sidebar .sidebar-nav > .active > a:hover,
  .sidebar .sidebar-nav > .active > a:focus {
    color: rgba(0, 0, 0, 0.87);
    background-color: rgba(0, 0, 0, 0.35); }
  .sidebar .sidebar-nav > .disabled > a,
  .sidebar .sidebar-nav > .disabled > a:hover,
  .sidebar .sidebar-nav > .disabled > a:focus {
    color: rgba(0, 0, 0, 0.35);
    background-color: transparent; }
  .sidebar .sidebar-nav > .dropdown > .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.35); }
    .sidebar .sidebar-nav > .dropdown > .dropdown-menu > li > a:focus {
      background-color: rgba(0, 0, 0, 0.35);
      color: rgba(0, 0, 0, 0.87); }
    .sidebar .sidebar-nav > .dropdown > .dropdown-menu > li > a:hover {
      background-color: rgba(0, 0, 0, 0.35);
      color: rgba(0, 0, 0, 0.87); }
    .sidebar .sidebar-nav > .dropdown > .dropdown-menu > .active > a,
    .sidebar .sidebar-nav > .dropdown > .dropdown-menu > .active > a:hover,
    .sidebar .sidebar-nav > .dropdown > .dropdown-menu > .active > a:focus {
      color: rgba(0, 0, 0, 0.87);
      background-color: rgba(0, 0, 0, 0.35); }

.sidebar {
  width: 0;
  -webkit-transform: translate3d(-280px, 0, 0);
  transform: translate3d(-280px, 0, 0); }
  .sidebar.open {
    min-width: 280px;
    width: 280px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

.sidebar-fixed-left {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 10;
  left: 0;
  box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.35); }

/*@media (max-width: $screen-tablet) {
  .sidebar.open {
    min-width: $sidebar-width;
    width: $sidebar-width;
  }

  .sidebar .sidebar-header {
    height: $sidebar-width * 9/16; // 16:9 header dimension
  }

  .sidebar .sidebar-image {
    img {
      width: $sidebar-width/4 - $sidebar-padding;
      height: $sidebar-width/4 - $sidebar-padding;
    }
  }
}*/
.add-photo-wrapper {
  height: 44px;
  line-height: 44px;
  margin: 20px 0; }

.pictures img {
  max-width: 100%;
  cursor: pointer; }

#tab-web-address form {
  margin-top: 40px; }

#submit-web-address {
  position: absolute;
  right: 100px;
  bottom: -51px; }

#add-photo-modal .status {
  position: static; }

.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }

.mfp-preloader a {
  color: #CCC; }

.mfp-preloader a:hover {
  color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }

.mfp-close:hover,
.mfp-close:focus {
  opacity: 1;
  filter: alpha(opacity=100); }

.mfp-close:active {
  top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }

.mfp-arrow:active {
  margin-top: -54px; }

.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1;
  filter: alpha(opacity=100); }

.mfp-arrow:before,
.mfp-arrow:after,
.mfp-arrow .mfp-b,
.mfp-arrow .mfp-a {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent; }

.mfp-arrow:after,
.mfp-arrow .mfp-a {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px; }

.mfp-arrow:before,
.mfp-arrow .mfp-b {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }

.mfp-arrow-left:after,
.mfp-arrow-left .mfp-a {
  border-right: 17px solid #FFF;
  margin-left: 31px; }

.mfp-arrow-left:before,
.mfp-arrow-left .mfp-b {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }

.mfp-arrow-right:after,
.mfp-arrow-right .mfp-a {
  border-left: 17px solid #FFF;
  margin-left: 39px; }

.mfp-arrow-right:before,
.mfp-arrow-right .mfp-b {
  border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px; }

.mfp-iframe-holder .mfp-close {
  top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }

.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444; }

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px; }

.mfp-figure figure {
  margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box; }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }

.mfp-ie7 .mfp-img {
  padding: 0; }

.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }

.mfp-ie7 .mfp-container {
  padding: 0; }

.mfp-ie7 .mfp-content {
  padding-top: 44px; }

.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }

.map {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1; }

.status {
  position: absolute;
  left: 420px;
  top: 20px;
  z-index: 100;
  min-width: 25%;
  text-align: center; }

.hamburger {
  left: 22px;
  top: 26px; }

.arrow {
  left: 18px;
  top: 28px;
  -webkit-transform: translateX(200px);
  transform: translateX(200px); }

.dropdown-menu {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.dropdown-menu .active {
  display: none; }

.panel-search {
  overflow: hidden;
  position: absolute;
  z-index: 2;
  top: 14px;
  left: 10px;
  width: 400px;
  height: 40px; }
  .panel-search form {
    position: relative; }
  .panel-search #search {
    box-shadow: none;
    padding-left: 10px;
    border-left: 1px solid #dddddd;
    height: 40px; }
  .panel-search .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle; }
  .panel-search .form-group span {
    color: rgba(0, 0, 0, 0.54);
    cursor: pointer; }
  .panel-search .input-group {
    width: 100%;
    height: 40px;
    padding: 0 80px 0 46px; }
  .panel-search .search-group {
    position: absolute;
    top: 0;
    right: 0;
    padding: 9px; }
  .panel-search .search-group.with-remove {
    right: 33px; }
  .panel-search .remove-group {
    border-left: 1px solid #dddddd;
    padding: 9px;
    position: absolute;
    top: 0;
    right: 0; }
  .panel-search .loading-group {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    padding: 5px; }

.panel-list-wrapper {
  position: absolute;
  left: 10px;
  top: 64px;
  width: 400px;
  z-index: 2;
  display: none;
  margin-bottom: 0;
  font-size: 13px; }

.panel-list {
  position: relative;
  top: 0;
  left: 0;
  width: 100%; }
  .panel-list .panel-heading {
    border-bottom: 1px solid #ddd;
    padding: 10px 5px; }
    .panel-list .panel-heading a {
      color: rgba(0, 0, 0, 0.54);
      margin: 0 5px; }
  .panel-list .panel-body {
    padding: 0;
    overflow-y: auto; }
  .panel-list .panel-footer {
    background: #fff;
    border-top: 1px solid #ddd;
    text-align: right; }
    .panel-list .panel-footer span {
      margin: 0 5px; }
    .panel-list .panel-footer .prev, .panel-list .panel-footer .next {
      cursor: pointer; }
    .panel-list .panel-footer .prev.disabled, .panel-list .panel-footer .next.disabled {
      color: #C5C5C5;
      cursor: auto; }
    .panel-list .panel-footer .list-collapse {
      color: #666666; }
  .panel-list .dropdown {
    cursor: pointer;
    display: inline-block; }
  .panel-list p {
    clear: left;
    margin-top: 8px; }
  .panel-list hr {
    margin: 0; }
  .panel-list .name a {
    color: rgba(0, 0, 0, 0.84); }
  .panel-list img {
    width: 100%; }
  .panel-list .item-body {
    font-family: Roboto, Arial, sans-serif;
    padding: 10px; }
    .panel-list .item-body > div {
      display: inline-block; }
    .panel-list .item-body .item-left {
      width: 283px;
      vertical-align: top; }
      .panel-list .item-body .item-left > span {
        font-size: 16px; }
    .panel-list .item-body .item-right {
      width: 80px;
      vertical-align: top; }
    .panel-list .item-body .address {
      color: #888;
      font-size: 12px; }

.list-collapse span {
  cursor: pointer; }

.panel-list-wrapper.list-closed .pages {
  display: none; }

.toggle-text {
  display: none;
  cursor: pointer; }

.info .name {
  font-size: 18px; }

.clear-filters {
  display: none; }

@media (max-width: 600px) {
  .map {
    top: 40px;
    bottom: 50%; }
  .map.expanded {
    bottom: 45px; }
  .panel-list-wrapper {
    left: 0;
    bottom: 0;
    top: 50%;
    width: 100%; }
  .panel-body {
    display: block !important;
    height: auto;
    max-height: none;
    position: absolute;
    top: 44px;
    bottom: 44px;
    left: 0;
    width: 100%; }
  .panel-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%; }
  .panel-list {
    height: 100%; }
  .list {
    height: 100%; }
  .item {
    position: relative; }
  .item-body {
    min-height: 100px; }
  .item-left {
    width: calc(100% - 100px); }
  .item-right {
    position: absolute;
    right: 10px;
    top: 10px; }
  .list-collapse .glyphicon {
    display: none; }
  .panel-list-wrapper.list-open .list-collapse {
    display: none; }
  .panel-list-wrapper.list-closed .toggle-text {
    display: block; }
  .panel-list-wrapper.list-closed {
    height: 45px;
    top: auto; }
  .panel-search {
    width: 100%;
    top: 0;
    left: 0; }
  .hamburger {
    left: 11px;
    top: 11px; }
  .input-group {
    width: 80%; }
  .status {
    left: 10px;
    right: 10px;
    top: 75px; } }

.create-form legend small {
  margin-left: 10px;
  font-size: 66%;
  color: rgba(0, 0, 0, 0.6); }

.create-form label {
  display: none; }

.create-form label[for="city"] {
  display: block; }

.create-form .map-create {
  width: 100%;
  height: 250px; }

.create-form input[required]::-webkit-input-placeholder {
  font-weight: bold;
  color: rgba(255, 0, 0, 0.74); }

.create-form input[required]::-moz-placeholder {
  font-weight: bold;
  color: rgba(255, 0, 0, 0.74); }

.create-form input[required]:-moz-placeholder {
  /* Older versions of Firefox */
  font-weight: bold;
  color: rgba(255, 0, 0, 0.74); }

.create-form input[required]:-ms-input-placeholder {
  font-weight: bold;
  color: rgba(255, 0, 0, 0.74); }

.error-page {
  background: url("/img/404.jpg") #BDE8F6;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center; }

.gallery img:nth-child(n+3) {
  display: none; }

.gallery img {
  max-height: 200px; }

@media (max-width: 600px) {
  .name {
    font-size: 30px; }
  .address {
    font-size: 20px; } }

.navbar {
  margin-bottom: 0; }

.map-small {
  height: 250px;
  margin-bottom: 10px; }

#map-canvas {
  width: 100%;
  height: 100%; }

ul.links {
  padding: 0;
  margin: 10px 0;
  list-style-type: none;
  font-size: 14px; }
  ul.links li {
    display: inline-block; }
  ul.links li + li:before {
    content: " - "; }

/*# sourceMappingURL=app.css.map */
