/*@import 'normalize';*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans|Roboto);
@import url(https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.0/sweetalert.min.css);

@import '/css/paper.bootstrap.min.css';

$gray-dark:            	 rgba(0,0,0,0.87); // #212121 - text
$gray:                   rgba(0,0,0,0.54); // #bdbdbd - hint text
$gray-light:             rgba(0,0,0,0.35); // #e0e0e0 - divider

html, body {
	height: 100%;
}
body {
	font-family: 'Open Sans', sans-serif;
	background: #f8f8f8;
}
body > .container {
	padding-top: 20px;
	padding-bottom: 20px;
}

@import 'mixins';

@import 'components/filters';
@import 'components/authentication';
@import 'components/rating';
@import 'components/hamburger';
@import 'components/sidebar';
@import 'components/addphoto';
@import 'components/magnific-popup';

@import 'pages/home';
@import 'pages/create';
@import 'pages/error';
@import 'pages/show';

.navbar {
	margin-bottom: 0;
}

.map-small {
	height: 250px;
	margin-bottom: 10px;
}
#map-canvas {
	width: 100%;
	height: 100%;
}

ul.links {
	padding: 0;
    margin: 10px 0;
    list-style-type: none;
    font-size: 14px;

    li {
    	display: inline-block;
    }
    li + li:before {
    	content: " - ";
    }

}
